{% load static %}
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css'%}"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
</head>
<body class="home-template">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="/stockreading/index"> Stock Reader</a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="/stockreading/index">Home</a></li>
		<li class="nav-article-example" role="presentation"><a href="/stockreading/stockreadingdetails">Stock</a></li>
		<li class="nav-about-us" role="presentation"><a href="/stockreading/stockadd">Add product</a></li>
		<li class="nav-about-us" role="presentation"><a href="/stockreading/expirydateadd">Add expiry date</a></li>
	</ul>
	</nav>
    {% block content %}
    {% endblock %}
	<footer class="site-footer clearfix">
	<a href="#top" id="back-to-top" class="back-top"></a>
	<div class="text-center">
		<a href="index.html">CB +</a> &copy; 2020<br/>
		<a href="http://cb-plus.eu">cb-plus.eu</a>
	</div>
	</footer>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	</body>
</html>